# ide configs
.vscode/
.idea/
.clangd/
.ccls-cache/

# esp-idf built binaries
build/
build_*_*/
sdkconfig
sdkconfig.old

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt
*.log
*.o

# pytest-embedded log folder
.pytest_cache/
__pycache__/
pytest_embedded_log/

# idf-component-manager output
dependencies.lock

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local git-based history (KiCad 9.0+)
.history

# Local project settings
*.kicad_prl